/* -------------Подвал --------------------------*/

.footer {
  /* width: 100%; */
  height: 100vh;
  position: relative;
  background-image: url(../images/game_767.jpg);
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover;
}

.footer::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo-container {
  width: 22.5vw;
  max-width: 90px;
  padding-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}

.logo-img {
  width: 22.5vw;
  max-width: 90px;
  background: linear-gradient(to bottom, #7755d7, #51379b);
  border-radius: 17px;
  padding: 3vw;
  fill: #ffffff;
}

.call-to-action {
  margin-top: 7vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 10vw;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12vh;
}

.sub-call {
  display: block;
  font-size: 0.45em;
  color: #9b8ec1;
  font-weight: 400;
  letter-spacing: normal;
}

.logo-text-img.at-footer {
  padding-top: 12vh;
}

/* ========================================================
                Версия для планшета                      */

@media (min-width: 641px) and (max-width: 960px) {

  .footer {
    background-image: url(../images/game_1280.jpg);
  }

  .logo-container {
    width: 17vw;
    max-width: 150px;
    padding-top: 14vh;
  }
  
  .logo-img {
    width: 17vw;
    max-width: 150px;
    border-radius: 28px;
    padding: 20px;
  }
  
  .call-to-action {
    letter-spacing: 3px;
    margin-bottom: 29vh;
  }
  
  .sub-call {
    letter-spacing: 1px;
    margin-top: 15px;
    color: #a496ca;
  }
  
  .apple-box,
  .google-box {
    width: 40vw;
    height: 78px;
    border-radius: 38px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .apple-box {
    margin-bottom: 0;
  }
  
  .apple-icon,
  .google-icon {
    width: 45px;
    margin-right: 25px;
  }
  
  .download-text {
    font-size: 14px;
    font-weight: 300;
  }
  
  .logo-text-img.at-footer {
    padding-top: 5.6vh;
  }
}

/* ================================================================================================= 
                                     Версия для десктопа                  */

@media (min-width: 961px) and (max-width: 1920px) {

  .footer {
    background-image: url(../images/game_1920.jpg);
  }

  .container-logo-call {
    display: flex;
    justify-content: center;
    padding-top: 23vh;
    margin-bottom: 16vh;
  }

  .logo-container {
    height: 6.8vw;
    width: 6.8vw;
    min-width: 100px;
    max-height: 140px;
    min-height: 100px;
    max-width: 140px;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .logo-img {
    height: 6.8vw;
    width: 6.8vw;
    min-width: 100px;
    min-height: 100px;
    max-height: 140px;
    max-width: 140px;
    background: linear-gradient(to bottom, #7755d7, #51379b);
    border-radius: 30px;
    padding: 20px;
  }

  .call-to-action {
    margin-top: 0;
    text-align: left;
    margin-left: 34px;
    margin-right: 0;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 4.2vw;
    letter-spacing: 4px;
  }

  .sub-call {
    font-size: 0.37em;
  }

  .logo-text-img.at-footer {
    padding-top: 28vh;
  }
}

/* ==================================================================================
                                    Версия для широкоформатных экранов             */

@media (min-width: 1921px) {

  .footer {
    background-image: url(../images/game_1920.jpg);
  }

  .container-logo-call {
    display: flex;
    justify-content: center;
    padding-top: 23vh;
    margin-bottom: 16vh;
  }

  .logo-container {
    height: 6.8vw;
    width: 6.8vw;
    min-width: 100px;
    max-height: 140px;
    min-height: 100px;
    max-width: 140px;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .logo-img {
    height: 6.8vw;
    width: 6.8vw;
    min-width: 100px;
    min-height: 100px;
    max-height: 140px;
    max-width: 140px;
    background: linear-gradient(to bottom, #7755d7, #51379b);
    border-radius: 30px;
    padding: 20px;
  }

  .call-to-action {
    margin-top: 0;
    text-align: left;
    margin-left: 34px;
    margin-right: 0;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 4.2vw;
    letter-spacing: 4px;
  }

  .sub-call {
    font-size: 0.37em;
  }

  .logo-text-img.at-footer {
    padding-top: 28vh;
  }
}
